*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f0f0f;
    color:white;
}

/* HEADER */

header{
    background:#111;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    border-bottom:2px solid #ff9800;
}

.logo h1{
    color:#ff9800;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
}

nav a:hover{
    color:#ff9800;
}

.call-btn{
    background:#ff9800;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    cursor:pointer;
}

/* HERO */

.hero{
    height:650px;

    background:
    linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url('Burger.WEBP');

    height:100vh;
    background-size:cover;
    background-position:center;
    animation:slideShow 15s infinite;


    display:flex;
    align-items:center;
    padding-left:8%;
}


@keyframes slideShow{

    0%{
        background-image:url("Burger.WEBP");
    }

    33%{
        background-image:url("Chicken.WEBP");
    }

    66%{
        background-image:url("pizza.jpg");
    }

    100%{
        background-image:url("pie.WEBP");
    }
}











.hero-text{
    width:50%;
}

.hero-text h2{
    font-size:60px;
    color:white;
}

.hero-text h1{
    font-size:90px;
    color:#ff9800;
}

.hero-text p{
    margin-top:20px;
    margin-bottom:30px;
    font-size:20px;
}

.hero-text button{
    padding:15px 30px;
    margin-right:15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.hero-text button:first-of-type{
    background:#ff9800;
    color:white;
}

.hero-text button:last-of-type{
    background:transparent;
    color:white;
    border:2px solid white;
}

/* GRID */

.content-grid{
    display:grid;

    grid-template-columns:
    1fr 2fr 1fr;

    gap:20px;

    padding:40px 8%;
}

/* CARDS */

.special-card,
.order-card,
.calculator-card,
.contact-card{

    background:#151515;

    border:1px solid #333;

    border-radius:10px;

    padding:25px;
}

.special-card h2,
.order-card h2,
.calculator-card h2,
.contact-card h2{

    color:#ff9800;
    text-align:center;
    margin-bottom:20px;
}

.special-card img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}

.price{
    font-size:40px;
    color:#ff9800;
    text-align:center;
    margin:15px 0;
}

.special-card button,
.order-card button,
.calculator-card button,
.contact-card button{

    width:100%;
    padding:15px;
    border:none;
    border-radius:5px;
    background:#ff9800;
    color:white;
    cursor:pointer;
    margin-top:15px;
}

.order-card input,
.order-card textarea,
.order-card select,
.calculator-card input,
.contact-card input,
.contact-card textarea{

    width:100%;
    padding:15px;
    margin-bottom:15px;

    background:#222;
    color:white;

    border:1px solid #444;
    border-radius:5px;
}

/* FEATURES */

.features{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:20px;

    padding:0 8% 40px;
}

.feature-box{

    background:#151515;

    border:1px solid #333;

    border-radius:10px;

    text-align:center;

    padding:30px;
}

.feature-box i{

    color:#ff9800;

    font-size:40px;

    margin-bottom:15px;
}

/* CONTACT */

.contact-card{

    width:84%;

    margin:auto;
    margin-bottom:40px;
}

/* FOOTER */
footer{
  background: #333;
  color: white;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:40px 8%;
    margin-top:30px;
    border-top:2px solid orange;
}

.footer-section h3{
    color:orange;
    margin-bottom:15px;
}

.footer-section a{
    display:block;
    text-decoration:none;
    color:white;
    margin:8px 0;
}

.footer-section a:hover{
    color:orange;
}


.socials i{

    color:#ff9800;

    font-size:30px;

    margin:15px;
}

/* HOVER EFFECTS */

button:hover{

    transform:translateY(-3px);

    transition:0.3s;
}

.feature-box:hover{

    transform:scale(1.03);

    transition:0.3s;
}

/* MOBILE */

@media(max-width:900px){

.content-grid{

grid-template-columns:1fr;

}

.features{

grid-template-columns:1fr;

}

.hero-text{

width:100%;
}

.hero-text h1{

font-size:50px;
}

.hero-text h2{

font-size:35px;
}
}


.about {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    line-height: 1.8;
}

.about h1 {
    text-align: center;
    color: #d4af37;
    margin-bottom: 20px;
}

.about h2 {
   color:#ff9800;
    margin-top: 30px;
}

.about ul {
    padding-left: 20px;
}

.about li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}



.stats{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:80px 8%;
    background:#0a0a0a;
}

.stat-box{
    background:#111;
    width:280px;
    padding:40px;
    text-align:center;
    border-radius:15px;
    border:1px solid #222;
    transition:0.4s;
}

.stat-box h2{
    font-size:3rem;
    color:orange;
    margin-bottom:10px;
}

.stat-box p{
    font-size:1.1rem;
    color:#ddd;
}

.stat-box:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px rgba(255,165,0,0.4);
    border-color:orange;
}


.reviews{
    padding:80px 8%;
    text-align:center;
}

#reviewForm{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

#reviewForm input,
#reviewForm select,
#reviewForm textarea{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#111;
    color:white;
    border:1px solid #333;
}

#reviewForm textarea{
    min-height:120px;
    resize:none;
}

#reviewForm button{
    padding:15px;
    background:orange;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:1rem;
}

#reviewForm button:hover{
    background:#ff8800;
}

#reviewsContainer{
    margin-top:40px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.review-card{
    width:300px;
    background:#111;
    padding:20px;
    border-radius:10px;
    border:1px solid #333;
    text-align:left;
}

.review-card h3{
    color:orange;
    margin-bottom:10px;
}

.review-card .stars{
    color:gold;
    margin-bottom:10px;
}
.paragraph_footer{
    text-align:center;
}
.paragraph_footer{
    grid-column:1/-1;
    text-align:center;

}.paragraph_footer{
    grid-column:1/-1;
    text-align:center;
}


.menu-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:20px;
    padding:50px;
    background:#111;
}

.menu-card{
    position:relative;
    overflow:hidden;
    border-radius:15px;
    min-height:250px;
}

.large{
    grid-row:span 2;
}

.menu-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:0.5s;
}

.overlay{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:linear-gradient(
        transparent,
        rgba(0,0,0,0.9)
    );
    padding:20px;
}

.overlay h2{
    color:white;
    font-size:2rem;
    font-weight:bold;
}

.menu-card:hover img{
    transform:scale(1.1);
}

.search-box{
    display:block;
    margin:30px auto;
    width:50%;
    max-width:500px;
    padding:12px;
    border-radius:25px;
    border:2px solid gold;
    font-size:16px;
}
